/****  -- General --  ****/
*
{
    box-sizing: border-box;
}

body
{
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    line-height: 1.6;

    color: #fff;
    background: url('../Img/bg1.jpg') no-repeat center center;
    background-size: cover;
}

img
{
    max-width: 100%;
    height: auto;
}

h1
{
    font-size: 2em;
    font-weight: bold;
}

section #portfolio {
    padding-top: 100px;
    padding-bottom: 100px;
}
/****  -- Colors --  ****/

header,
.main-primary,
.main-secondary,
.card,
footer
{
    background: rgba(243,94,36,.85);
}

a
{
    color: rgba(255,255,255,.5);
}

a:hover
{
    text-decoration: none;

    color: #fff !important;
}
a:focus
{
    color: rgba(243,94,36,.9);
}

/**** -- Footer -- ****/

footer .fa-twitter,
footer .fa-github
{
    font-size: 24px;

    margin-left: 15px;

    color: rgba(255,255,255,.5);
}
/****  -- Sticky footer --  ****/
body
{
    display: -webkit-box;
    display: -webkit-flex;
    display:         flex;
            flex-direction: column;

    min-height: 100vh;

    -webkit-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

section
{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
            flex: 1;
    background-color: rgba(0,0,0,0.7);
}



/**** -- Header/Navigation -- ****/

.logo-name
{
    display: inline-block;

    margin-left: 7px;
    padding: 9px 0;

    vertical-align: middle;
}

.logo
{
    display: inline-block;

    width: 40px;
    height: 40px;

    transition: -webkit-transform .4s cubic-bezier(.07,-.35,.39,1.39);
    transition:         transform .4s cubic-bezier(.07,-.35,.39,1.39);
    transition:         transform .4s cubic-bezier(.07,-.35,.39,1.39), -webkit-transform .4s cubic-bezier(.07,-.35,.39,1.39);
    vertical-align: middle;
}

.logo-name h2
{
    font-size: .875em;
    font-weight: 700;
}

.logo-lastname
{
    display: block;
}

.logo-name h3
{
    display: none;
}

.nav-item
{
    font-size: .85em;

    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.nav-link
{
    transition: color .4s;
}

.arrow-btn
{
    font-weight: 700;

    margin-top: .5em;
    padding: 1em 1em .5em 1em;

    transition: color .4s;
    text-transform: uppercase;
}

.arrow-btn .fa
{
    display: block;
}
/**** -- Main -- ****/
.main-primary
{
    padding-top: 130px;
    padding-bottom: 130px;
}

.main-secondary
{
    padding-top: 30px;
    padding-bottom: 30px;
}

/**** -- Portfolio -- ****/
.card
{
    overflow: hidden;
}
.card-block
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: -webkit-box;
    display: -webkit-flex;
    display:         flex;
            flex-direction: column;

    padding-right: 20px;
    padding-left: 20px;

    cursor: pointer;
    transition: opacity .5s ease-in-out;

    background: rgba(0,0,0,.65);

    -webkit-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
}



#overlay
{
    position: fixed;
    top: 0;
    left: 0;

    display: none;
    overflow: auto;

    width: 100%;
    height: 100%;
    padding: 5%;

    text-align: center;

    background: rgba(0,0,0,.75);
}

#overlay img
{
    margin-top: auto;
}

#overlay p
{
    font-size: 1.5em;

    padding: 10px 0;
}

/****  -- Page: About --  ****/

.profile-photo
{
    display: block;
    clear: both;

    max-width: 200px;
    margin: 0 auto 30px;

    border-radius: 5%;
}

/****  -- Page: Contact --  ****/
.contact-info
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.contact-info .fa
{
    font-size: 19px;

    width: 20px;
    margin-right: 8px;
}

.contact-info li
{
    font-weight: 700;

    margin-bottom: .5em;
}

/****  -- Media Queries --  ****/
@media (min-width: 480px), handheld and (orientation: landscape)
{
    .logo-name h2
    {
        text-transform: uppercase;
    }
    .logo-lastname
    {
        display: inline-block;
    }
    .logo-name h3
    {
        font-size: .8em;

        display: block;
    }
    .main-primary
    {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .profile-photo
    {
        float: left;

        margin: 0 5% 5% 0;
    }
}

@media (min-width: 576px)
{
    .icons
    {
        text-align: right;
    }

    footer p
    {
        text-align: left;
    }
}

@media (min-width: 768px)
{
    h1
    {
        font-size: 3em;
    }
    .nav-item
    {
        font-size: .875em;

        margin-right: 1em;
    }

    .nav-link
    {
        transition: all .4s;

        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
    }

    .nav-link:hover
    {
        border-top: 1px solid;
        border-bottom: 1px solid;
    }
    .main-primary
    {
        padding-top: 130px;
        padding-bottom: 130px;
    }
    .main-p
    {
        font-size: 1.5em;

        padding-bottom: 30px;
    }
    p
    {
        font-size: 1em;
    }
    .contact-info li
    {
        font-size: 1em;
    }
}

@media (min-width: 992px)
{
    .navbar-brand:hover .logo
    {
        -webkit-transform: scale(1.3) rotate(-5deg);
                transform: scale(1.3) rotate(-5deg);
    }
    .nav-item
    {
        font-size: 1em;
    }
    .main-primary
    {
        padding-top: 200px;
        padding-bottom: 200px;
    }
    .card-block
    {
        opacity: 0;
    }
    .card-block:hover
    {
        opacity: 1;
    }
    p
    {
        font-size: 1.1em;
    }
    .card img
    {
        transition: -webkit-transform .4s;
        transition:         transform .4s;
        transition:         transform .4s, -webkit-transform .4s;
        -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
    }

    .card:hover img
    {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
}
