/****  -- General --  ****/

body {
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-size: 1em;

	background: url("../Img/bg1.jpg") no-repeat center center;
	background-size: cover;
}

h1,
h2,
h3,
h4 {
	font-family: 'Inconsolata', monospace;
}

img {
	max-width: 100%;
	height: auto;
}

p {
	line-height: 1.5;
}

.social-icon {
	width: 35px;
}

/**** -- Responsive typography -- ****/
#logo {
	font-size: 1em;
}
@media (max-width: 576px) {
	h1.display-3 {
		font-size: 2rem;
	}
	p.lead {
		font-size: .85rem;
	}
}
@media (min-width: 576px) {
	#logo {
		font-size: 1.5em;
	}

}


/****  -- Sticky footer --  ****/
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sticky-footer,
.jumbotron {
	flex: 1;
}


/**** -- Centered Jumbotron -- ****/

.jumbotron {
	position: relative;
}

.center-jumbotron {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/****  -- Colors --  ****/

.jumbotron {
	background: rgba(116,114,116,0.50);
}

.card,
.navbar,
footer {
	background: rgba(243,94,36,0.85);
	color: rgba(255,255,255,0.75);
}

a,
a:hover,
a:visited {
	color: rgb(243,94,36);
}

/****  -- Alignments --  ****/
.icons {
	text-align: right;
}

@media (max-width: 576px) {
	footer,
	.icons {
		text-align: center;
	}
}


/****  -- Page: About --  ****/

.profile-photo {
	border-radius: 5%;
	clear: both;
	margin: 0 auto 30px;
	max-width: 200px;
	display: block;
}

@media (min-width: 480px) {
	.profile-photo {
		float: left;
		margin: 0 5% 5% 0;
	}
}

/****  -- Page: Contact --  ****/
.contact-info {
	list-style: none;
	padding: 0;
	margin: 0;
}

.mail::before {
	content: url(../Img/mail-icon.png);
	margin-right: 8px;
}

.twitter::before {
  	content: url(../Img/twitter-icon.png);
  	margin-right: 8px;
}
